################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ElaineEditor/Project/Windows/.vs/ElaineEditor
/ElaineCore/Bin/Windows/x64/Debug
/ElaineCore/Intermediate/Windows/x64/Debug
/ElaineEditor/Bin/Windows/x64/Debug
/ElaineEditor/Intermediate/Windows/x64/Debug
/ElaineCore/PDB/Windows/x64/Debug
/ElaineEditor/PDB/Windows/x64/Debug
/ElaineEditor/Project/Windows/x64/Debug
/ElaineEngine/Bin/Windows/x64/Debug
/ElaineEngine/Intermediate/Windows/x64/Debug
/ElaineEngine/PDB/Windows/x64/Debug/ElaineEngine.pdb
/ElaineSDK/ElaineCore/Bin/Windows/x64/Debug/ElaineCore.dll
/ElaineSDK/ElaineCore/Bin/Windows/x64/Debug/ElaineCore.exp
/ElaineSDK/ElaineCore/Bin/Windows/x64/Debug/ElaineCore.lib
/ElaineSDK/ElaineCore/PDB/Windows/x64/Debug/ElaineCore.pdb
/ElaineSDK/ElaineEngine/Bin/Windows/x64/Debug/ElaineEngine.dll
/ElaineCore/Intermediate/Windows/x64/EditorDebug
/ElaineEngine/Intermediate/Windows/x64/EditorDebug
/build
