[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParty/cJSON"]
	path = ThirdParty/cJSON
	url = https://github.com/DaveGamble/cJSON.git
